<%= render 'header' %>
<div class='section'> 
  <div class='container'>
    <div class='title is-3'>
      <h3>All Events</h3>
    </div>
    <div class='events-container'>
      <div class='container'>
        <div class='title is-4'>
          <h4>Upcoming events</h4>
        </div>
        <% if @upcoming_events.none? %>
          <div class='columns is-vcentered'>
            <div class='column'>
              <div class='events-none'>
                <p>No upcoming events</p>
              </div>
            </div>  
          </div>   
        <% else %>  
          <div class='columns is-multiline is-variable is-3' id='events-container'>
            <% @upcoming_events.each do |event| %>
              <div class='column is-one-quarter'>
                <div class='event-wrapper'>
                  <div class='title is-5'>
                    <%= event.event_name %>
                  </div>
                  <div class='subtitle is-6'>
                    <%= event.description %>
                  </div>
                  <div class='navigation'>
                    <div class='button'>
                      <%= link_to 'See this Event', event_path(event) %>
                    </div>
                  </div>
                </div>
              </div>  
            <% end %>
          </div>  
        <% end %>  
        <div class='title is-4'>
          <h4>Previous events</h4>
        </div>
        <% if @previous_events.none? %>
          <div class='columns is-vcentered'>
            <div class='column'>
              <div class='events-none'>
                <p>No upcoming events</p>
              </div>
            </div>  
          </div>   
        <% else %>  
          <div class='columns is-multiline is-variable is-3' id='events-container'>
            <% @previous_events.each do |event| %>
              <div class='column is-one-quarter' id='event'>
                <div class='event-wrapper'>
                  <div class='title is-5'>
                    <%= event.event_name %>
                  </div>
                  <div class='subtitle is-6'>
                    <%= event.description %>
                  </div>
                  <div class='navigation'>
                    <div class='button'>
                      <%= link_to 'See this Event', event_path(event) %>
                    </div>
                  </div>
                </div>
              </div>  
            <% end %>
          </div>  
        <% end %> 
      </div>     
    </div>    
  </div>  
</div>