<div class='section'>
  <div class='title'>
    <%= @event.event_name %>
  </div>
  <div class='subtitle'>
    <%= @event.description %>
  </div>
  <div class='event-creator'>
    Created by <%= @event.creator.username %>
  </div>
  <div class='buttons'>
    <div class='button'>
      <%= link_to 'All Events', events_path %>
    </div>
    <div class='button'>
      <%= link_to 'My Events', user_path(User.find(session[:current_user_id])) %>
    </div>
  </div>
</div>    